.nav {
  max-width: 270px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav__inner {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.nav__link-logo {
  transition: opacity 0.2s ease;
}

.nav__link-logo:hover {
  opacity: 0.7;
}

.nav__link-logo:active {
  opacity: 0.5;
}

.nav__lang {
  margin: 0 auto;
}

.nav-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

.nav-item + .nav-item {
  margin-top: 30px;
}

.nav-item__link {
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.nav-item__link:hover {
  opacity: 0.7;
}

.nav-item__link:active {
  opacity: 0.5;
}

.nav-item__icon {
  margin-right: 20px;
}

.nav-item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.nav__tweet-link {
  display: block;
  width: 230px;
  margin-bottom: 260px;
  padding: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: rgba(29, 155, 240, 1);
  border-radius: 25px;
  text-decoration: none;
  transition: opacity 0.2s ease;
  text-align: center;
}

.nav__tweet-link:hover {
  opacity: 0.7;
}

.nav__tweet-link:active {
  opacity: 0.5;
}

.user__card {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.user__avatar {
  margin-right: 10px;
}

.user-info {
  margin-right: auto;
}

.user-info__title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
}

.user-info__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
}

.user__more-icon {
  cursor: pointer;
}
